*.pyc
__pycache__/*
hal.docx
start.ipy
devices/sum_buffer.1.0.xml
output.xml
pyocd-venv/*
dump.txt
devices/rdl/basic/*
devices/rdl/basic.uvm
devices/rdl/basic.xml
obj_dir/*
gtkwave.vcd
devices/rdl/counter/*
devices/rdl/counter.xml
dump1.hkl
dump2.hkl
