*.pyc
__pycache__/*
hal.docx
start.ipy
devices/sum_buffer.1.0.xml
output.xml
pyocd-venv/*
dump.txt
obj_dir/*
*.vcd
devices/rdl/counter/*
src/cheap_pie/devices/rdl/basic/*
devices/rdl/*.xml
*.hkl
dist/*
src/cheap_pie.egg-info/*
src/cheap_pie/devices/rdl/basic.xml
src/cheap_pie/devices/rdl/counter.xml
src/cheap_pie/obj_dir/*
src/cheap_pie/devices/rdl/*.xml
*.log
src/*.py
src/*.xml
*.uvm
*.sv
*.cpp
*.svg
