h5py                  # dump
untangle              # parsers
python-docx           # documentation export
wavedrom              # visualization
wavedrom-ascii        # visualization
cmsis-svd             # parsers
ipyxact               # parsers
peakrdl-ipxact        # parsers
peakrdl-verilog       # parsers
peakrdl-uvm           # parsers
peakrdl-cheader       # parsers
requests              # HTTP utilities
# transport layers
pylink-square
pyocd # requires cargo and rust toolchain
esptool
pyverilator-mm
# other
packaging # for verilator version check
lxml # for xlst ipxact conversions
# for pyproject.toml
build
setuptools
wheel
