# python pip
untangle
cmsis-svd
ipyxact
pylink-square
# pyocd # requires cargo and rust toolchain
esptool        
python-docx
pyverilator
peakrdl-ipxact
peakrdl-verilog #only install from github
peakrdl-uvm
hickle
packaging # for verilator version check
