untangle
hickle
python-docx
wavedrom
wavedrom-ascii
# parsers
cmsis-svd
ipyxact
peakrdl-ipxact
peakrdl-verilog #only install from github
peakrdl-uvm
# transport layers
# pylink-square
# pyocd # requires cargo and rust toolchain
# esptool
# pyverilator
# other
# packaging # for verilator version check
