# transport layers
pylink-square
pyocd # requires cargo and rust toolchain
esptool
pyverilator-mm
# other
packaging # for verilator version check
lxml # for xlst ipxact conversions
# for pyproject.toml
build
setuptools
wheel
